<!DOCTYPE html>
<html>
<head>
  <title>Sobre a Pulse</title>
  <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../resources/css/estilo_sobrenos.css">
  <meta charset=utf-8>
  <meta name=description content="">
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>

 <nav class="navbar navbar-default navbar-statix-top navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">
          <img alt="Brand" src="../resources/media/logos.png" width="25px" align="middle">   
        </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="feedback.html">Feedback<span class="sr-only">(current)</span></a></li>
          <li><a href="produtos.html">Produtos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastro <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="form_cliente_fisico.html">Cliente Físico</a></li>
              <li><a href="form_cliente_juridico.html">Cliente Jurídico</a></li>
             <!-- Exemplo de Link Separado <li role="separator" class="divider"></li>-->
            </ul>
          </li>
        </ul>
  
        <ul class="nav navbar-nav navbar-right">
          <li><a href="login.html">Entrar</a></li>
          <li><a href="sobrenos.html">Quem somos nós</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
  </nav>

  <!-- Titulo -->
  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Sobre a Pulse</h1>
        <span class="icon-bar">
          <i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
        </span>
        <h2>A empresa Química que mais cresce no Brasil</h2>
      </div>
    </div>
  </div>
<!-- Corpo -->
  <section class="post-content-section">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-12">
          <p class="lead">
A Pulse Ltda é uma empresa brasileira fundada em 1973, com fábrica na cidade de São Bernardo do Campo, São Paulo. Produz Suplementos Alimentares por síntese química ou extração para o mercado interno e externo. Nosso expertise está na produção de suplementos, desenvolvidos, num ambiente de Boas Práticas de Fabricação e Controle e com documentação de suporte técnico para nossos clientes, garantindo a qualidade e confiabilidade de produtos, processos e serviços.</p>
          <p>A busca por hábitos saudáveis e pelo corpo em forma, tem se tornado, a cada dia, não somente um luxo, mas uma necessidade para quem valoriza e preza pela qualidade de vida. Por isso a Loja do Suplemento vem proporcionando a maior variedade de suplementos alimentares e acessórios esportivos, nacionais e importados, para que você alcance o seu objetivo com eficiência.

Nosso compromisso é atendê-lo da melhor maneira, com qualidade, variedade e os melhores preços do mercado.</p>
         
          <p>Somos focados em suplementos de alta tecnologia e desenvolvidos para ótimos resultados!A nossa empresa valoriza a transparência no relacionamento, apresentando equipamentos, serviços e ótimos preços.</p>
          <blockquote>
            <p>Nosso foco é ir além das expectativas, atender com excelência, dar comodidade e praticidade a vida das pessoas com ótimos resultados!</p>
            <footer>Rener Gonçalves <cite title="Source Title"> (CEO da Pulse)</cite></footer>
          </blockquote>
          <p>Por isso a Pulse vem proporcionando a maior variedade de suplementos alimentares e acessórios esportivos, nacionais e importados, para que você alcance o seu objetivo com eficiência.</p>
          
          <blockquote>
            <p>Nossos clientes são pessoas físicas, famílias, empresas e instituições que lidam com riscos todos os dias. Diáriamente ganhámos a confiança deles e dos parceiros, distribuidores e outros que nos ajudam a atender nossas altas demandas.</p>

          </blockquote>

          <div class="image-block">
           <img src="../resources/media/lab.png" class="img-responsive" >
         </div>

         <p>Ser referência em química fina no Brasil, destacada como melhor opção pelos nossos clientes e parceiros, oferecendo produtos e processos inovadores, com qualidade reconhecida e que proporcionam ganhos de produção.</p>

       </div>
       <div class="col-lg-4  col-md-4 col-sm-12">
        <div class="well">
          <h2>Subscription Box</h2>
          <p>Form Description Goes here</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
        <div class="well">
          <h2>Pulse nas Redes Sociais</h2>
          <ul class="list-inline">
            <li><a href = "https://www.facebook.com/Pulse-Probioticos-138817003395922/" target="_blank"><img id = 'face' src = "../resources/media/facebook.png"/></a></li>
            <li><a href = "https://www.facebook.com/Pulse-Probioticos-138817003395922/" target="_blank"><img id = 'face' src = "../resources/media/twitter.png"/></a></li>
            

          </ul>
        </div>
        
      
        </div>
      </div>
      

    </div> <!-- /container -->
  </section>

<br>

  <!-- Inicio do footer -->
  <section class="footer">
    <div class="container">

      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Suplementos</h4>
          <ul>
            <li class="line_rv"><a href="canon-printer-support.php">Suplementos para Emagrecimento</a></li>

            <li><a href="hp-printer-support.php">Suplementos para Bucking</a></li>
            <li><a href="dell-printer-support.php">Suplementos para Cutting</a></li>
            <li><a href="epson-printer-support.php">Suplementos em Promoção</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>CADASTRE-SE</h4>
          <ul>
            <li><a href="form_cliente_fisico.html">Cliente Fisico</a></li>
            <li><a href="form_cliente_juridico.html">Cliente Juridico</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4  col-md-4 col-sm-4">
        <div class="footer_dv">
          <h4>Entre em Contato</h4>
          <p>Pulse Suporte 24hs</p>
          <p>BRA-SP +55 (11) 2781-2675<br>


          </p></div>
        </div>

      </div>
    </section>
<!-- JS -->
  <script src="../resources/js/js_nav.js"></script>
  <script src="../resources/js/bootstrap.min.js"></script>
  </body>
  </html>